* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
background-image: url("../public/MarvelHome.jpeg");
background-repeat: no-repeat;
background-size: cover;
}
:root {
  --color-blue: #00009f;
  --color-red: #f70b17;
  --color-gray: #a8ab84;
  --color-light-gray: #d7dacf;
  --color-black: #000;
  --color-titles: #4337fe;
  --color-white: #fff;
}
